/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #333;
}

/* Estilo del contenedor */
.container {
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    max-width: 100%;
    text-align: center;
}

/* Estilo de las etiquetas */
label {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

/* Estilo de los campos de entrada */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Estilo del botón */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ajustes responsivos */
@media (max-width: 600px) {
    .container {
        padding: 1.5em;
        width: 90%;
    }

    h1 {
        font-size: 1.5em;
    }
}
